A {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: 宋体, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: 宋体, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A:hover {
	COLOR: #2a9700; TEXT-DECORATION: underline
}
A.menulink {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: 宋体, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.menuhover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.blacklink:visited {
	COLOR: black; TEXT-DECORATION: none
}
A.blacklink:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blacklink:hover {
	COLOR: #2a9700; TEXT-DECORATION: none
}
A.blacklink:link {
	COLOR: black; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
SPAN {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
BODY {
	SCROLLBAR-FACE-COLOR: #eaeceb; FONT-SIZE: 12px; SCROLLBAR-HIGHLIGHT-COLOR: #eaeceb; SCROLLBAR-SHADOW-COLOR: #b1b7c5; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #134197; SCROLLBAR-TRACK-COLOR: #eaeceb; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: 宋体, Verdana, Arial, Helvetica; SCROLLBAR-DARKSHADOW-COLOR: #eaeceb; SCROLLBAR-BASE-COLOR: #eaeceb; BACKGROUND-COLOR: #e4e4e4; TEXT-DECORATION: none
}
.end_bgline01 {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/end_line_bg01.jpg); COLOR: #000000; LINE-HEIGHT: 16px; BACKGROUND-REPEAT: repeat-x; TEXT-DECORATION: none
}
.page_bg {
	BACKGROUND-POSITION: right bottom; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/bg_page.jpg); COLOR: #000000; LINE-HEIGHT: 16px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
.font12_white {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.font_12_black {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.font_12_blue {
	FONT-SIZE: 12px; COLOR: #0079fd; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.font13_black_b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.font12_red {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
A.blacklink {
	FONT-SIZE: 12px; COLOR: black; LINE-HEIGHT: 120%; FONT-FAMILY: 宋体, Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
A.blacklink:visited {
	COLOR: black; TEXT-DECORATION: none
}
.sub_endbg {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/sub_end.jpg); COLOR: #000000; BACKGROUND-REPEAT: no-repeat; HEIGHT: 77px; TEXT-DECORATION: none
}
.sub_maintitle {
	BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/sub_maintitle01.jpg); WIDTH: 570px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 35px
}
.dot_line01center {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/dot_line02.jpg); BACKGROUND-REPEAT: repeat-x
}
.font12_gray {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.dot_line02 {
	BACKGROUND-POSITION: 50% bottom; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/dot_line01.jpg); COLOR: #000000; LINE-HEIGHT: 18px; BACKGROUND-REPEAT: repeat-x; TEXT-DECORATION: none
}
.fwcs_intro_title {
	BACKGROUND-POSITION: left bottom; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/fwcs_intro_06.jpg); WIDTH: 132px; COLOR: #ff6600; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; TEXT-DECORATION: none
}
.font12_yellow_b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9900; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.font12_black_underline {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 18px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none
}
.font12_green_b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #008900; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.fwdt_leftmu {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/sub_left_mu.jpg); WIDTH: 124px; COLOR: #000000; BACKGROUND-REPEAT: no-repeat; HEIGHT: 31px; TEXT-DECORATION: none
}
.font12_wihte_b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.font12_dotline {
	BACKGROUND-POSITION: 50% bottom; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/dot_line01.jpg); COLOR: #000000; LINE-HEIGHT: 18px; BACKGROUND-REPEAT: repeat-x; TEXT-DECORATION: none
}
.houtai {
	BORDER-RIGHT: #acacac 1px solid; BORDER-TOP: #acacac 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #acacac 1px solid; BORDER-BOTTOM: #acacac 1px solid; BACKGROUND-COLOR: #eff4f8
}
.fuwuzhinan {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff9000; TEXT-ALIGN: center
}
.fuwuzhinan1 {
	BACKGROUND-POSITION: 50% bottom; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(../浦东新区梅园之窗.files/images/line_zhinan.jpg); BACKGROUND-REPEAT: repeat-x; FONT-STYLE: normal; FONT-VARIANT: normal
}
.fuwuzhinan2 {
	FONT-SIZE: 12px; COLOR: #ff0000
}
