body {font-family:"宋体";font-size: 9pt; margin-top: 0px }

a {font-family:"宋体";font-size: 9pt }

td { FONT-SIZE: 9pt ; font-family: "宋体" }


#PCL {
		font-family: 宋体
		font-style: none;
		font-weight: normal;
		text-decoration: none;
		font-size: 9pt;
}

#PTT {
		font-family: 宋体
		font-size: 9pt;
}

#PST {
		font-family: 宋体
		font-size: 9pt;
}

