A:link {
	COLOR: #000066
}
A:visited {
	COLOR: #666666
}
A:active {
	COLOR: #0000ff
}
A:hover {
	COLOR: #0000ff
}
TD.clsTDMSTB {
	BACKGROUND-COLOR: #000000
}
TABLE.clsTableBP {
	BACKGROUND-COLOR: #ffffff; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.clsTableMS {
	MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD.clsTDNB {
	BACKGROUND-COLOR: #003399
}
TD.clsShowHide {
	BACKGROUND-COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; WIDTH: 95px
}
TABLE.clsNBIT {
	MARGIN: 0px
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, MS Sans Serif; FONT-SIZE: 80%; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
BODY.samples {
	BACKGROUND-IMAGE: none; FONT-FAMILY: Verdana, Arial, Helvetica, MS Sans Serif; FONT-SIZE: 80%
}
BLOCKQUOTE {
	MARGIN: 10pt
}
BLOCKQUOTE.body {
	MARGIN: 10pt
}
BLOCKQUOTE DL {
	MARGIN-TOP: 0pt
}
BLOCKQUOTE TABLE.ref {
	MARGIN-BOTTOM: 6pt; MARGIN-TOP: 0pt
}
BLOCKQUOTE TABLE.swtable {
	MARGIN-BOTTOM: 6pt; MARGIN-TOP: 0pt
}
BLOCKQUOTE TABLE {
	MARGIN-BOTTOM: 6pt; MARGIN-TOP: 0pt
}
BUTTON.showme {
	BACKGROUND-COLOR: #002f90; COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 23px; MARGIN-BOTTOM: 2pt; POSITION: relative; TOP: 2px; WIDTH: 68px
}
BUTTON.showme5 {
	BACKGROUND-COLOR: #002f90; COLOR: #ffffff; FONT-FAMILY: Arial; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 23px; MARGIN-BOTTOM: 2pt; MARGIN-LEFT: 20pt; POSITION: relative; TOP: 2px; WIDTH: 68px
}
DL DL {
	MARGIN-TOP: 5pt
}
FONT.na {
	COLOR: #b0b0b0
}
H1 {
	FONT-SIZE: 145%; MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 1.25em
}
H2 {
	FONT-SIZE: 135%; MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 1.25em
}
H3 {
	FONT-SIZE: 128%; MARGIN-BOTTOM: 0em; MARGIN-TOP: 1em
}
H4 {
	FONT-SIZE: 120%; MARGIN-BOTTOM: 0em; MARGIN-TOP: 0.8em
}
H5 {
	FONT-SIZE: 110%; MARGIN-BOTTOM: 0em; MARGIN-TOP: 0.8em
}
H6 {
	FONT-SIZE: 70%; MARGIN-BOTTOM: 0em; MARGIN-TOP: 0.6em
}
HR {
	COLOR: #666666
}
HR.clsTitle {
	COLOR: #666666; HEIGHT: 1px
}
P {
	MARGIN-BOTTOM: 0.6em; MARGIN-TOP: 0.6em
}
P.ref {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 0pt; MARGIN-TOP: 12pt
}
OL {
	MARGIN-BOTTOM: 0em; MARGIN-LEFT: 18pt; MARGIN-TOP: 0.5em
}
UL {
	MARGIN-BOTTOM: 0em; MARGIN-LEFT: 18pt; MARGIN-TOP: 0.5em
}
OL UL {
	LIST-STYLE: disc; MARGIN-TOP: 1em
}
LI {
	MARGIN-RIGHT: 1em; PADDING-BOTTOM: 0.2em
}
LI LI {
	LIST-STYLE: square
}
PRE {
	BACKGROUND: #eeeeee; FONT-FAMILY: Courier New; FONT-SIZE: 130%; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0pt; MARGIN-TOP: 1em; PADDING-BOTTOM: 5pt; PADDING-LEFT: 5pt; PADDING-RIGHT: 5pt; PADDING-TOP: 5pt
}
PRE.syntax {
	FONT-FAMILY: Verdana, Arial, Helvetica, MS Sans Serif; FONT-SIZE: 120%
}
P.copyright {
	FONT-FAMILY: verdana, arial, helvetica, ms sans serif,; FONT-SIZE: 8pt; MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px
}
CODE {
	BACKGROUND: #eeeeee; FONT-FAMILY: Courier New; FONT-SIZE: 130%
}
CODE.text {
	BACKGROUND: #ffffff; FONT-FAMILY: Courier New; FONT-SIZE: 130%
}
TABLE {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 3pt; MARGIN-TOP: 10pt; PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt
}
TH {
	BACKGROUND-COLOR: #dddddd; MARGIN: 3pt; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom
}
TR {
	VERTICAL-ALIGN: top
}
TABLE.clsTableNL {
	BACKGROUND-COLOR: #ffffff; MARGIN: 0px
}
TD {
	BACKGROUND-COLOR: #eeeeee; MARGIN: 3pt; VERTICAL-ALIGN: top
}
TD.clsTDNL {
	BACKGROUND-COLOR: #ffffff; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.ref {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 6pt; MARGIN-TOP: 10pt; PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt
}
TABLE.ref TH {
	BACKGROUND-COLOR: #cccccc; FONT-WEIGHT: bold; MARGIN: 3pt; TEXT-ALIGN: left; VERTICAL-ALIGN: bottom
}
TABLE.ref TR {
	VERTICAL-ALIGN: top
}
TABLE.ref TD {
	BACKGROUND-COLOR: #eeeeee; MARGIN: 3pt; VERTICAL-ALIGN: top
}
TABLE.paramvls {
	MARGIN-TOP: 0.25em
}
A.line {
	COLOR: black; FONT-SIZE: 8pt; TEXT-DECORATION: underline
}
A.glossary {
	COLOR: green; FONT-SIZE: 10pt; TEXT-DECORATION: underline
}
TABLE.swtable {
	BACKGROUND-COLOR: #ffffff; MARGIN-BOTTOM: 3pt; MARGIN-TOP: 10pt; PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt
}
TABLE.swtable TH {
	BACKGROUND-COLOR: #cccccc; LIST-STYLE: square; MARGIN-BOTTOM: 0.25em; MARGIN-RIGHT: 1em; VERTICAL-ALIGN: top
}
A.clsBottomItem {
	COLOR: #000000; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A.clsLeftMenu {
	COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.clsLeftMenu:visited {
	COLOR: #000000
}
#TOC {
	VISIBILITY: hidden
}
.defvalue {
	FONT-FAMILY: 'courier new'; FONT-WEIGHT: bold
}
.literal {
	FONT-FAMILY: 'courier new'
}
.range {
	FONT-STYLE: italic
}
DIV.showme {
	MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 0.5em
}
SPAN.showme {
	FILTER: dropshadow(color=#000000,OffX=2.5,OffY=2.5,Positive=1); POSITION: relative; TOP: -8px; WIDTH: 100%
}
DIV.beta {
	COLOR: red; FONT-WEIGHT: bold
}
BODY.index {
	FONT-FAMILY: Verdana, Arial, Helvetica, MS Sans Serif; FONT-SIZE: 80%; MARGIN-LEFT: 0pt; MARGIN-TOP: 0pt
}
UL.index {
	MARGIN-BOTTOM: 5pt; MARGIN-LEFT: 20pt; MARGIN-TOP: 0pt
}
TABLE.index {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 3pt; MARGIN-TOP: 10pt; PADDING-LEFT: 2pt; PADDING-RIGHT: 2pt
}
TR.index {
	VERTICAL-ALIGN: top
}
TD.index {
	BACKGROUND-COLOR: #eeeeee; MARGIN: 3pt; VERTICAL-ALIGN: top
}
DIV.clsHi {
	PADDING-LEFT: 2em; TEXT-INDENT: -2em
}
TR.entry {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top
}
TD.letters {
	BACKGROUND-COLOR: #cccccc; MARGIN: 3pt; TEXT-ALIGN: center; VERTICAL-ALIGN: top
}
TD.mainhead {
	BACKGROUND-COLOR: #ffffff; FONT-SIZE: 145%; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.5em; MARGIN-TOP: 1.35em; VERTICAL-ALIGN: top
}
A.disabled {
	COLOR: black; CURSOR: text; TEXT-DECORATION: none
}
A.enabled {
	text-Decoration;: auto
}
.access {
	TEXT-DECORATION: underline
}
IMG.clsNoBorder {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px
}
SPAN.clsIDXRange {
	POSITION: relative; TOP: -3px; WIDTH: 100px
}
