.clsPart {
	BEHAVIOR: url(webparts.htc); WIDTH: 150px
}
.clsPartHead {
	BACKGROUND-COLOR: #6699cc; COLOR: #ffffff; CURSOR: move; FONT-FAMILY: "verdana", "arial", "helvetica"; FONT-SIZE: 82%
}
.clsPartRight {
	BACKGROUND-COLOR: #6699cc; COLOR: #ffffff; CURSOR: hand; FONT-FAMILY: verdana, arial, helvetica; FONT-SIZE: 82%
}
.clsPartContainer {
	POSITION: relative; WIDTH: 150px
}
.storeUserData {
	BEHAVIOR: url(#default#userData)
}
.clscontent {
	BORDER-BOTTOM: #6098c8 1px solid; BORDER-LEFT: #6898d0 1px solid; BORDER-RIGHT: #6898c8 1px solid; BORDER-TOP: #689cd0 1px solid; COLOR: #666666; FONT-FAMILY: "tahoma"; FONT-SIZE: 10px; LINE-HEIGHT: 16px
}
.p1 {
	COLOR: #666666; FONT-FAMILY: "tahoma"; FONT-SIZE: 10px; LINE-HEIGHT: 16px
}
