A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; FONT-SIZE: 10pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #333333; COLOR: #333333; SCROLLBAR-3DLIGHT-COLOR: #333333; LINE-HEIGHT: 12pt; SCROLLBAR-ARROW-COLOR: #797979; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
INPUT {
	BORDER-RIGHT: buttonhighlight 1px outset; BORDER-TOP: buttonhighlight 1px outset; FONT-SIZE: 9pt; BORDER-LEFT: buttonhighlight 1px outset; BORDER-BOTTOM: buttonhighlight 1px outset; FONT-FAMILY: "ו"; HEIGHT: 19px
}
TD {
	FONT-SIZE: 10pt
}
A.daohang:link {
	FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.daohang:visited {
	FONT-SIZE: 10pt; COLOR: #ffffff; TEXT-DECORATION: none
}
A.daohang:hover {
	FONT-SIZE: 10pt; COLOR: #fdee02; TEXT-DECORATION: underline
}
